

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">
      <span class="logo">LOGO</span>
    </div>
    <mat-list class="list-content" role="list">
      <mat-list-item class="list-item" role="listitem"><mat-icon>menu</mat-icon>Dashboard</mat-list-item>
      <mat-list-item role="listitem"><mat-icon>menu</mat-icon>User</mat-list-item>
      <mat-list-item role="listitem"><mat-icon>menu</mat-icon>Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>

  <div>
    <mat-toolbar class="toolbar-content" color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button class="menu-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</mat-drawer-container>

<router-outlet />
